name: Deploy to Cloud Run

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Build and Deploy
        env:
          PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
        run: |
          gcloud builds submit --tag gcr.io/$PROJECT_ID/drunk30-buzz
          gcloud run deploy drunk30-buzz-service \
            --image gcr.io/$PROJECT_ID/drunk30-buzz \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated
